{% extends 'base/base.html' %}
{% block content %}
{% load static %}
	
	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<div class="my-5 ml-5">
				<a href="{% url 'user_profile' %}" class="genric-btn success">Back</a>
			  </div>
			<section class="order_details ">
				<div class="container">
					<div class="order_details_table">
						<h2 class="success" style="text-align: center;">Reset Password</h2>
						
						<div class="table-responsive">
							<div class="card-body px-5 pb-5 mb-10 pt-0">

								<form method="post" id="form1" action="{% url 'change_password'  %}" >
								  {% csrf_token %}

								  {% if messages %}
									<ul class="messages">
									{% for message in messages %}
									<li {% if message.tags %}class="{{ message.tags }}
									text-danger"{% endif %}>{{ message }}</li>
									{% endfor %}
									</ul>
									{% endif %}

								  <div class="row">
									<b style="color: steelblue;">Password Strength : </b>
									<label>Password must contains at least one lowercase letter, one uppercase letter, one digit, one special character, and minimun of 4 characters</label>
									<br><br>

									<div class="form-group col-md-12 mb-4">
									  <label>New Password *</label>
									  <input type="password" class="form-control input-lg" id="new-password"  name="new-password" aria-describedby="nameHelp" placeholder="New Password *" >
									  <span style="color: red;" id="new-password-error"></span>
									</div>
								
									<div class="form-group col-md-12 mb-4 mt-4">
										<label>Confirm Password *</label>
										<input type="password" class="form-control input-lg" id="confirm-password" name="confirm-password" aria-describedby="nameHelp" placeholder="Confirm Password *" >
									  </div>

									<div class="col-md-12">					
									  <button type="submit" id="reset-password" class="btn  btn-lg genric-btn  btn-block success radius" id="reset-password">Reset Password</button> 
									</div>
								  </div>
								</form>
							</div>
						</div>
					</div>
				</section>
			</div>
		</section>
	<!--================End Order Details Area =================-->
	<script>
		const newPassword = document.getElementById("new-password");
    	const newPasswordError = document.getElementById("new-password-error");
		const passwordPattern =/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{4,20}$/;
		const passwordFunction = () => {
		  if (!passwordPattern.test(newPassword.value)) {
			newPasswordError.textContent = "Not a strong password";
			return false;
		  } else {
			newPasswordError.textContent = "";
			return true;
		  }
		};
		newPassword.addEventListener("input", passwordFunction);
		let isFormValid = false;
		const formFunctions = [
		passwordFunction
		];
		document.getElementById("reset-password")
		  .addEventListener("click", (event) => {
			if (formFunctions.every((fn) => fn())) {
			  isFormValid = true;
			}
			if (!isFormValid) {
			  event.preventDefault();
			  swal("Please fill all the details");
			} else {
			  form.submit();
			}
		  });
	</script>
{% endblock %}