{% load static %}
{% include 'admin/adminHeader.html' %} 
<div class="page-wrapper">
  <div class="ml-5">
    <a href="{% url 'adminHome'  %}" class="btn btn-primary">Back</a>
  </div>
  <div style="text-align: center;margin-bottom: 25px;">
    <h2>Banner Management</h2>
    </div>
       <div class="row">
    
        <div class="col-12">
          <div class="card card-default">
           
            
            <div class="card-body">
              <table class="table table-hover table-banner" style="width:100%" id="myTable">
                <thead>
                  <tr>
                    <th>Index</th>
                    <th>Banner Title</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                    {% for banner in banners %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ banner.title }}</td>
                    <td>
                        <img src="{{ banner.image.url }}" alt="{{ banner.title }}" width="70">  
                    </td>
                    <td>
                        <button type="button" data-toggle="modal"
                        data-target="#exampleModal{{ forloop.counter }}{{ banner.id }}-{{ image.id }}" class="btn btn-primary my-4" >
                        DELETE
                      </button>
                      <div class="modal fade" id="exampleModal{{ forloop.counter }}{{ banner.id }}-{{ image.id }}" tabindex="-1"
                        role="dialog" aria-labelledby="exampleModalLabel{{ forloop.counter }}{{ banner.id }}-{{ image.id }}"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel{{ forloop.counter }}{{ banner.id }}-{{ image.id }}">Are you
                                sure you want to delete?</h5>
                              <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <!-- <img src="https://img.icons8.com/color/48/null/delete-forever.png"/> -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">No</button>
                              <a href="delete_banner/{{ banner.id }}"><button
                                  type="button"
                                  class="btn btn-primary" >Yes</button></a>
                            </div>   
                          </div>
                        </div>
                      </div>                        

                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
<script>
  $(document).ready(function() {
      $('#myTable').DataTable();
  });
 
</script>
{% include 'admin/adminFooter.html' %}
