{% load static %}
{% include 'admin/adminHeader.html' %} 
<style>
	.center{
		text-align: center;
	}
</style>
<div class="page-wrapper">

  <div class=" ml-5">
    <a href="{% url 'adminHome'  %}" class="btn btn-primary">Back</a>
  </div>    
  <div style="text-align: center;">
    <h2 >Sales Report</h2>
  </div>
  <strong>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %}class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %} 
  </strong>
  <div class="row">
      <div class="col-md-7">
        <form method="POST" action="{% url 'date_range' %}">
          {% csrf_token %}
          <div class="col-sm-4">
            <div class="form-group">
              <label for="fname">From Date</label>
              <input type="date" class="form-control" name="from-date">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="lname">To Date</label>
              <input type="date" class="form-control" name="to-date">
            </div>
          </div>
          <input type="submit" value="Search" class="btn btn-primary dropdown-toggle mx-4"/><br><br>
          </form>
        </div> 
        
        <div class="col-md-2">
        <div class="dropdown">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            Monthly Report
          </button><br><br>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'monthly_report' 1 %}">January</a>
              <a class="dropdown-item" href="{% url 'monthly_report' 2 %}">February</a>
              <a class="dropdown-item" href="{% url 'monthly_report' 3 %}">March</a>
              <a class="dropdown-item" href="{% url 'monthly_report' 4 %}">April</a>
              <a class="dropdown-item" href="{% url 'monthly_report' 5 %}">May</a>
              <a class="dropdown-item" href="{% url 'monthly_report' 6  %}">June</a>
              <a class="dropdown-item" href="{% url 'monthly_report' 7 %}">July</a>
              <a class="dropdown-item" href="{% url 'monthly_report' 8 %}">August</a>
              <a class="dropdown-item" href="{% url 'monthly_report' 9 %}">September</a>
              <a class="dropdown-item" href="{% url 'monthly_report' 10 %}">October</a>
              <a class="dropdown-item" href="{% url 'monthly_report' 11 %}">November</a>
              <a class="dropdown-item" href="{% url 'monthly_report' 12 %}">December</a>
          </div>
        </div> 
        </div>
        
   <div class="col-md-1" style="margin-left: 30px;">     
<div class="dropdown mx-2">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    Yearly Report
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'yearly_report' 2023 %}">2023</a>
    <a class="dropdown-item" href="{% url 'yearly_report' 2022 %}">2022</a>
    <a class="dropdown-item" href="{% url 'yearly_report' 2021 %}">2021</a>
    <a class="dropdown-item" href="{% url 'yearly_report' 2020 %}">2020</a>
    <a class="dropdown-item" href="{% url 'yearly_report' 2019 %}">2019</a>
    <a class="dropdown-item" href="{% url 'yearly_report' 2018 %}">2018</a>
    <a class="dropdown-item" href="{% url 'yearly_report' 2017 %}">2017</a>
    <a class="dropdown-item" href="{% url 'yearly_report' 2016 %}">2016</a>
  </div>
</div> 
</div>

        <div class="col-12">
          <div class="card card-default">
            <div class="card-body">
              <table class="table table-hover table-product" style="width:100%" id="myTable">
                <thead>
                  <tr>
                    <th class="center">Index</th>
                    <th class="center">Date</th>
                    <th class="center">Order Number</th>
                    <th class="center">Customer Name</th>
                    <th class="center">Phone Number</th>
                    <th class="center">Address</th>
                    <th class="center">Payment Method</th>
                    <th class="center">Payment status</th>
                    <th class="center">Order Status</th>
                    <th class="center">Total  Amount</th>
                </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                  <tr>
                    <th class="center">{{ forloop.counter }}</td>
                    <th class="center">{{ order.date_added }}</td>
                    <th class="center">{{ order.orderid }}</td>
                    <th class="center">{{ order.address.firstname }}{{ order.address.lastname  }}</td>
                    <th class="center">{{ order.address.phonenumber }}</td>
                    <th class="center">
                        {{ order.address.housename }},<br>
                        {{ order.address.locality }},<br> 
                        {{ order.address.city }},<br> 
                        {{ order.address.state }},<br>
                        {{ order.address.pincode }}
                    </td>
                    <th class="center">{{ order.payment.payment_method }}</th>
                    <th class="center">{{ order.payment.status }}</th>
                    <th class="center">{{ order.status }}</th>
                    <th class="center">{{ order.total }}</td>                 
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>


<script>
  $(document).ready(function() {
      $('#myTable').DataTable();
  });
</script>
{% include 'admin/adminFooter.html' %}
