{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<div style="height: 50px;"></div>
<div class="container">
<!-- start banner Area -->
<section class="banner-area">
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-start">
			<div class="col-lg-12">
				<div class="active-banner-slider owl-carousel">
					{% for banner in banners %}
					<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<div class="mb-5" >
									<h2 style="color: brown;">{{ banner.title }}</h2>
								</div>
									<h2>
										{% for category in categories %}
											{% if category.offer %}
											<div class="mb-5" style="color: coral;">
												{{ category.offer.discount_percentage }}&nbsp;%&nbsp;&nbsp;&nbsp;OFF on {{ category.category_name }}<br>
											</div>
											{% endif %}
										{% endfor %}
									</h2>
								</div>
						
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{{ banner.image.url }}" alt="" style="height: 657px;width:394px;">
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

		  
	<!-- End banner Area -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon1.png' %}" alt="">
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon2.png' %}" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon3.png' %}" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon4.png' %}" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->


	<!-- start product Area -->
	<section>
		<!-- single product slide -->
		<div >
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Our Products</h1>
							<p>Shop traditional Indian ethnic wear online for women at MAJESTIC Fashion at best price. View our latest collections of wedding dresses....</p>
						</div>
					</div>
				</div>
				<div class="row">
					{% for product in products %}
					<!-- single product -->
					<div class="col-lg-3 col-md-4">
						<div class="single-product">
							<a href="{% url 'singleProduct' product.id %}">
								<img src="{{ product.productImages.first.image.url }}"
									alt="{{ product.product_name }}">
							</a>						
							<div class="product-details">
								<h6>{{ product.product_name}}</h6>
								<div class="price">
									<h6>Rs {{ product.variants.first.price }}</h6>
									<strong >
										{% if product.offer  %}
											{{ product.offer.discount_percentage }}%OFF
										{% endif %}
									</strong>
								</div>
								<div class="prd-bottom">
									<a href="{% url 'singleProduct' product.id %}" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
										
									</a>
								</div>
							</div>
						</div>
				
					</div>
					{% endfor %}

				</div>
			</div>	
		</div>		
</section>

</div>
	<!-- End related-product Area -->
	<script>
		const toggleDetailsBtn = document.getElementById('toggleDetailsBtn');
		const userDetails = document.getElementById('userDetails');
	  
		toggleDetailsBtn.addEventListener('click', function() {
		  if (userDetails.style.display === 'none') {
			userDetails.style.display = 'block';
			toggleDetailsBtn.textContent = 'Hide Details';
		  } else {
			userDetails.style.display = 'none';
			toggleDetailsBtn.textContent = 'Show Details';
		  }
		});
		// Get the anchor tag element
		
  const carousel = document.querySelector('.carousel');
  const images = carousel.querySelectorAll('img');
  const caption = document.querySelector('.caption');

  let currentIndex = 0;
  let intervalId;

  function showImage(index) {
    if (index < 0) {
      index = images.length - 1;
    } else if (index >= images.length) {
      index = 0;
    }

    carousel.style.transform = `translateX(-${index * 100}%)`;
    currentIndex = index;

    caption.querySelector('h1').textContent = images[currentIndex].getAttribute('alt');
  }

  function startCarousel() {
    intervalId = setInterval(() => {
      showImage(currentIndex + 1);
    }, 5000);
  }

  function stopCarousel() {
    clearInterval(intervalId);
  }

  showImage(currentIndex);
  startCarousel();

  carousel.addEventListener('mouseenter', stopCarousel);
  carousel.addEventListener('mouseleave', startCarousel);
</script>

	{% endblock %}