{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<style>
  .first{
    display: inline-block;
      width: 77px;
      padding-left: 6px;
      text-align: center;
  }
  .price{
    display: inline-block;
      width: 126px;
      padding-left: 38px;
      text-align: center;
  }
    .middle{
      display: inline-block;
      width: 150px;
      padding-left: 75px;
      text-align: center;
  }
  .last{
    display: inline-block;
      width: 150px;
      padding-left: 75px;
      text-align: center;
  }
  .total{
    padding-left:388px;
  }
  .total-one{
    padding-left:433px;
  }
  .amount{
    padding-left: 149px;
  }
  .coupon-amount{
    padding-left: 88px;

  }
  .grand-amount{
    padding-left: 93px;

  }
  #place-order-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.genric-btn{
  display: block;
    margin: 0 auto;
    text-align: center;
}
.price1{
  display: inline-block;
      width: 141px;
      padding-left: 42px;
      text-align: center;
 }
 .grand-amount11{
  display: inline-block;
  padding-left: 138px;
 }
 .grand-amount22{
  padding-left: 89px;
 }
 .grand-amount33{
  padding-left: 129px;
 }
</style>
<div style="padding-top: 45px;"></div>

    <section class="checkout_area section_gap">
        <div class="container">
            <div class="billing_details">
               <h2>Checkout</h2>
            <strong>{% if messages %}
               <ul class="messages">
                   {% for message in messages %}
                   <li {% if message.tags %}class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</li>
               {% endfor %}
               </ul>
               {% endif %}
              </strong>
               <strong><span id="msg"></span></strong>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="order_box">
                          <h2 style="text-align: center;">Your Order</h2>
                            <ul class="list">
                              <li>
                                <strong><span class="first">Product</span>
                                  <span class="price">Actual Price</span>
                                  <span class="price1">Offer Discount</span>
                                <span class="middle">Quantity</span> 
                                <span class="last">Total</span></li></strong>
                                <h2></h2>
                          <form method="POST" action="{% url 'place_order' %}">
                            {% csrf_token %}
                              {% for cart_item in cart_items %}
                              <li>
                                <span class="first">{{ cart_item.variant.product.product_name }} </span>
                                <span class="price">{{ cart_item.variant.price}} </span>
                                <span class="price1">{{ cart_item.offer_discount}} </span>
                                <span class="middle">x {{ cart_item.quantity }}</span>
                                <span class="last">{{ cart_item.sub_total }}</span>
                              </li>
                              {% endfor %}
                          </ul>
                         <h2></h2>
                          <ul class="list list_2">
                            {% if request.session.coupon_code %}				
                            <strong><li class="total" id="one" >Subtotal 
                              <span class="amount" id="sub_total">{{ request.session.sub_total }}</span></li>
                            </strong>
                            <li class="total"  id="discount">Coupon Discount 
                              <span class="coupon-amount" id="coupon-discount-dis"><strong>-</strong>{{ request.session.discount }} </span>
                            </li>
                            <strong><li class="total" id="grand-amount_total" >Grand Total 
                              <span class="grand-amount33" id="coupon-grand-amount">{{ request.session.grand_total }}</span></li>
                            </strong>
                              <li class="total"  id="discount" style="display: none;">Coupon Discount 
                                <span class="coupon-amount" id="coupon-discount-dis"><strong>-</strong>0{{ request.session.discount }} </span>
                              </li>
                              <strong><li class="total" id="grand-amount_total" style="display: none;">Grand Total 
                                <span class="grand-amount33" id="coupon-grand-amount">0{{ request.session.grand_total }}</span></li>
                              </strong>
                              {% else %}
                              <strong><li class="total-one" id="grand-amount11">Grand Total 
                                <span class="grand-amount22" id="sub-total">{{ request.session.sub_total }}</span></li>
                              </strong>
                              {% endif %}
                              <strong><li class="total-one" id="grand-amount-two" style="display: none;">Grand Total 
                                <span class="grand-amount" id="sub-total-two">0</span></li>
                              </strong>
                          </ul>
                          <div style="height: 20px;"></div>
                            <div>
                              <h2></h2>
                            <select id="coupon" name="coupon">
                                {% for coupon in coupons %}
                                    <option value="{{ coupon.id }}" id="coupon-code{{ coupon.id }}">{{ coupon.coupon_code }}</option>
                                {% endfor %}
                            </select>
                            </div>
                           
                            <div class="checkout_btn_inner d-flex" style="align-items: center;">
                                <a class="btn btn-secondary text-white" onclick="applyCoupon()"  id="apply-coupon-btn">Apply Coupon</a>
                                <a class="genric-btn primary success" id="remove-coupon" onclick="removeCoupon()"  style="display: none;">
                                    Remove Coupon
                                </a>
                            </div>
                            <div style="height: 20px;"></div>
                          <button class="btn  btn-lg btn-block genric-btn success radius" onclick="placeOrder()" style="border-style: none;" id="place-order-btn" type="submit">Place order</button>
                        </div>  
                    </div>

                    <div class="col-lg-4">
                      <div class="order_box">
                        <h2>Choose Delivery Address</h2>
                            {% for address in addresses %}
                            <div class="payment_item" style="text-align: center;">
                                <div>
                                    <input type="radio" id="{{ address.id }}" name="address" value="{{ address.id }}" {% if forloop.first %}checked{% endif %}  required>
                                    <label for="{{ address.id }}">Address &nbsp;&nbsp;{{ forloop.counter }}</label>
                                    <div class="check"></div>
                                </div>
                                 <p>{{ address.firstname }}&nbsp;{{ address.lastname }}<br>
                                    {{ address.phonenumber }}<br>
                                    {{ address.housename }}<br>
                                    {{ address.locality }}<br>
                                    {{ address.city }}<br>
                                    {{ address.state }}<br>
                                    {{ address.pincode }}
                                  </p>
                                  <div class="checkout_btn_inner d-flex align-items-center">
                                    <button type="button" class="genric-btn primary success" data-toggle="modal" data-target="#exampleModal{{ forloop.counter }}{{ product.id }}-{{ image.id }}" >
                                      Delete
                                    </button>
                                </div>
                                    
                                      <div class="modal fade" id="exampleModal{{ forloop.counter }}{{ product.id }}-{{ image.id }}" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel{{ forloop.counter }}{{ product.id }}-{{ image.id }}"
                                        aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel{{ forloop.counter }}{{ product.id }}-{{ image.id }}">
                                                Are you sure you want to delete?
                                              </h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                              <a href="{% url 'removeAddress' address.id  %}">
                                                <button type="button" class="btn btn-primary" >
                                                  Yes
                                                </button>
                                              </a>
                                            </div>   
                                          </div>
                                        </div>
                                      </div>                                                                 
                            </div>
                            <h2></h2>
                            {% endfor %} 
                          </form>
                        </div>
                          <a href="{% url 'add_address' %}" class="btn  btn-lg btn-block genric-btn success radius" onclick="addAddress()">Add new address</a>
                    </div>
                
                
                
                  </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->
<script>
    function placeOrder() {
		var address = document.querySelector('input[name="address"]:checked');
    if (!address) {
        Swal.fire({
        icon: 'error',
        title: 'Address Required',
        text: 'Please select delivery address.'
        });
        return false;
    }
    return true;
}

// apply coupon

function applyCoupon(){
    const couponSelect = document.getElementById("coupon");
    const couponId = couponSelect.options[couponSelect.selectedIndex].value;
    const couponMsg = document.getElementById('msg'); 
    fetch("{% url 'apply_coupon' %}", {
        method  :   'POST',
        headers :   {
            'Content-Type': 'application/json',
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body    :   JSON.stringify({ coupon_id:couponId })
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error('Network response was not ok');
        }
    })
    .then(data => {
        if(data.used_coupon){
          couponMsg.innerText = "Coupon  '"+data.coupon+"' already used...Use another coupon.. ";
          couponMsg.style.color="red";
        }else{
          document.getElementById('discount').style.display = 'block';
          document.getElementById('grand-amount_total').style.display = 'block';
          const couponDiscount = document.getElementById('coupon-discount-dis');
          couponDiscount.innerText = '-' + data.discount;
          const couponGrandAmount = document.getElementById('coupon-grand-amount');
          couponGrandAmount.innerText = data.grand_total;
          couponMsg.innerText = "Coupon  '"+data.coupon_code+"'  added successfully";
          couponMsg.style.color       =    "green";
          const removeCoupon              =    document.querySelector("#remove-coupon");
          removeCoupon.style.display      =    "block";
        }
    })
    .catch(error => {
        console.error('There was a problem with the fetch request:', error);
    });
}
//remove coupon

function removeCoupon(){
    const couponSelect = document.getElementById("coupon");
    const couponId = couponSelect.options[couponSelect.selectedIndex].value;
    const couponMsg = document.getElementById('msg');
    fetch("{% url 'remove_coupon' %}", {
        method  :   'POST',
        headers :   {
            'Content-Type': 'application/json',
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body    :   JSON.stringify({ coupon_id:couponId })
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error('Network response was not ok');
        }
    })
    .then(data => {
      const grand1                 =    document.querySelector("#grand-amount-two");
        grand1.style.display   =    "block";
        const grand                 =    document.querySelector("#sub-total-two");
        grand.innerText             =    data.sub_total;
        const subTotal              =    document.querySelector("#one");
        const discount              =    document.querySelector("#discount");
        const grandAmount           =    document.querySelector("#grand-amount_total");
        const grandAmount1           =    document.querySelector("#grand-amount");
        couponMsg.innerText         =    "Coupon  '"+data.coupon_code+"'  removed successfully";
        couponMsg.style.color       =    "red";
        subTotal.style.display      =    "none";
        discount.style.display      =    "none";
        grandAmount.style.display   =    "none";
        grandAmount1.style.display   =    "none";
    })
    .catch(error => {
        console.error('There was a problem with the fetch request:', error);
    });
}




</script>
{% endblock %} 